.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: 'Gilroy', sans-serif;
    color: #667479;
    margin-bottom: 15px;
    /* margin-top: 30px; */
    /* justify-content: center; */
    /* margin-left: 110px; */
    /* padding-left: 110px; */
    gap: 6px;
    /* font-weight: 500; */
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: #667479;
    font-weight: 500;
  }
  
  .breadcrumb-item a:hover {
    text-decoration: none;
  }
  
  .breadcrumb-separator {
    margin: 0 5px;
    color: #667479;
  }
  
  .breadcrumb-current {
    font-weight: 500;
    color: #667479;
  }
  