.category-page {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.category-header{
  background-color: white;
}

.category-header-content {
  /* max-width: 1180px; */
  margin-left: 50px;
  margin-right: 50px;
}

.filter-section {
  flex: 1;
  max-width: 250px;
  margin-right: 20px;
}

.category-section {
  flex: 3;
  padding-top: 0;
}

.category-section-header {
 display: flex;
 flex-direction: row;
 gap: 20px;
 align-items: center;
}

.category-section-header h4{
 padding-bottom: 10px;
 color: #667479;
 font-weight: 500;
 }

.category-section h1{
  color: #003459;
  margin-bottom: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.category-card {
  background: #f9f9f9;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.category-card:hover {
  transform: translateY(-5px);
}


.category-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.category-card h3 {
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
  color: #00171F;
}

.category-card p {
  margin: 5px 0;
  font-size: 12px;
  color: #667479;
  text-align: left;
}

.no-dogs-found {
  padding-left: 230px;
}

.no-dogs-found h3{
  color: #003459;
  font-weight: 400;
  white-space: nowrap;
  padding-left: 80px;
}
