.category-page {
  display: flex;
  padding-left: 100px;
}

.category-header{
  background-color: white;
}

.category-header-content {
  /* max-width: 1180px; */
  margin-left: 50px;
  margin-right: 50px;
}

.filter-section {
  flex: 1;
  max-width: 250px;
  margin-right: 20px;
}

.product-section {
  flex: 3;
  padding-top: 0;
}

.product-section-header {
 display: flex;
 flex-direction: row;
 gap: 20px;
 align-items: center;
}

.product-section-header h4{
 padding-bottom: 10px;
 color: #667479;
 font-weight: 500;
 }

.product-section h1{
  color: #003459;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  /* text-align: left; */
}

.product-card img {
  max-width: 100%;
  height: auto;
  /* align-items: center; ; */
}

.product-card h3 {
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
  color: #00171F;
}

.product-card p {
  margin: 5px 0;
  font-size: 12px;
  color: #667479;
  text-align: left;
}

.no-dogs-found {
  padding-left: 230px;
}

.no-dogs-found h3{
  color: #003459;
  font-weight: 400;
  white-space: nowrap;
  padding-left: 80px;
}
