.adoption-banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px 0; */
    padding-bottom: 50px;
    background-color: #ffffff;
    overflow: hidden; /* Prevent any vertical scroll */
  }
  
  .adoption-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 400px; /* Set a fixed height to avoid overflow */
    border-radius: 20px;
    background-color: #FFB775; /* Optional for subtle contrast */
  }
  
  .adoption-banner-bg {
    flex: 1;
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 20px;
  }
  
  .adoption-banner-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to the left */
    padding: 40px 40px;
    color: #003459;
    text-align: left;
  }
  
  .adoption-banner-content b {
    position: relative;
    top: 2.5px;
    gap: 20px;
  }

  .adoption-banner-content h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0 0 10px;
  }
  
  .adoption-banner-content h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 15px;
  }
  
  .adoption-banner-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #242b33;
    margin-bottom: 20px;
    max-width: 50%;
  }
  
  .adoption-banner-buttons {
    display: flex;
    gap: 20px;
  }
  
  .btn-primary {
    background-color: #003459;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 52, 89, 0.2);
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #00223b;
  }

  .btn-primary a {
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-outline {
    background-color: transparent;
    border: 2px solid #003459;
    color: #003459;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 52, 89, 0.1);
    transition: all 0.3s ease;
  }
  
  .btn-outline:hover {
    background-color: #b4d3eb;
  }

  .btn-outline i {
    position: relative;
    top: 2.5px;
    gap: 20px;
  }
  

  @media (max-width: 768px) {

    .adoption-banner-section {
      display: none;
    }

  }