/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: transparent;
  font-family: "Gilroy", sans-serif;
  position: relative;
}

/* Left Section (Logo & Menu) */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 100px;
}

/* Menu Icon (Only shown on mobile) */
.menu-icon {
  display: none;
  cursor: pointer;
}

.navbar-logo img {
  width: 150px;
  height: auto;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
  color: #003459;
}

.navbar-links a {
  color: #003459;
  cursor: pointer;
  text-decoration: none;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Search Icon (Mobile View) */
.navbar-icons {
  display: none;
}

.search-icon {
  cursor: pointer;
}

/* Search Bar and Button */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Search Bar */
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #666;
  width: 100%;
  font-family: "Gilroy", sans-serif;
}

.search-bar input::placeholder {
  color: #aaa;
  font-size: 1rem;
}

/* Join Button */
.join-button {
  background-color: #003459;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.join-button:hover {
  background-color: #00223b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    padding: 15px;
    justify-content: space-between;
    overflow: hidden;
  }

  .navbar-logo img {
    width: 120px;
    height: auto;
  }

  .navbar-left {
    display: flex;
    align-items: center;
    gap: 110px;
  }

  /* Show Hamburger Menu */
  .menu-icon {
    display: block;
  }

  /* Hide search bar on mobile */
  .navbar-actions {
    display: none;
  }

  /* Hide navbar links by default */
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  /* Show links when menu is open */
  .navbar-links.open {
    display: flex;
   
  }

  .navbar-links a {
    padding: 10px;
    display: block;
  }

  /* Show only search icon on mobile */
  .navbar-icons {
    display: block;
  }

  /* Hide search bar in mobile */
  .search-bar {
    display: none;
  }
}
