.pets-section {
    padding: 40px 120px;
    background-color: white;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 25px;
  }

  .section-header-column1 {
    flex: 1 1;
  }
  
  .section-header h2 {
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #003459;
    line-height: 36px;
    text-transform: capitalize;
    margin: 0;
  }
  

  .section-header h4 {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
  }
  
  .view-more-btn {
    background-color: transparent;
    border: 2px solid #003459;
    color: #003459;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .view-more-btn i{
    position: relative;
    top: 2.5px;
    gap: 20px;
    color: #003459;
  }
  
  .view-more-btn a {
    color: #003459;
    cursor: pointer;
    text-decoration: none;
  }
  


  .view-more-btn:hover {
    background-color: #b4d3eb;
    color: #003459;
  }
  
  .pets-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust based on screen size */
    gap: 20px; /* Space between grid items */
    /* justify-items: center; Center align items */
    align-items: stretch; /* Ensure items fill the grid cells */
  }
  
  
  .pet-card {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    padding: 10px;
  }
  
  .pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .pet-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
    border-radius: 15px;
  }
  
  .pet-details {
    padding: 10px;
    text-align: left;
  }
  
  .pet-details h3 {
    font-family: "Gilroy", sans-serif;
    font-size: 1rem;
    color: #00171F;
    margin-bottom: 10px;
  }
  
  .pet-details p {
    font-family: "Gilroy", sans-serif;
    font-size: 0.9rem;
    color: #667479;
    margin: 5px 0;
  }
  
  .pet-price {
    font-weight: bold;
    color: #00171F;
    margin-top: 10px;
  }
  