.product-section {
    /* padding: 40px; */
    padding-right: 110px;
    padding-bottom: 30px;
    padding-left: 110px;
    background-color: white;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
}

.product-header-column1 {
    flex: 1 1;
}

.product-header h2 {
    font-family: "Gilroy", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #003459;
    margin: 0;
}

.product-header h4 {
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
}

.view-more-prodbtn {
    background-color: transparent;
    border: 2px solid #003459;
    color: #003459;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.view-more-prodbtn i{
    position: relative;
    top: 2.2px;
    gap: 20px;
    color: #003459;
}


.view-more-prodbtn:hover {
    background-color: #b4d3eb;
    color: #003459;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: stretch;
}

.product-card {
    background: #f9f9f9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    color: #00171F;
    margin: 10px 0;
    text-align: left;
}

.product-details {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    color: #767676; /* Light gray color */
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    
  }
  
  .details-title {
    font-weight: normal; /* Normal text for titles */
    color: #667479; /* Ensure it matches the overall design */
    font-size: 12px;
  }
  
  .details-value {
    font-weight: bold; /* Bold text for values */
    color: #667479; /* Darker gray for emphasis */
    font-size: 12px;
  }
  

.product-price {
    font-size: 14px;
    color: #00171F;
    font-weight: bold;
    text-align: left;
}

.product-label {
    background-color: #FCEED5;
    padding: 10px;
    border-radius: 8px;
    color: #002A48;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
    width: 90%;
}

.label-icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
